:root {
  --cards: rgba(247, 247, 247, 1);
  --text: rgba(12, 12, 12, 1);
  --text-secondary: rgba(117, 117, 117, 1);
  --primary: rgba(186, 255, 102, 1);
  --bg: rgba(231, 231, 231, 1);
  --yellow-wait: rgba(255, 189, 0, 1);
  --warning-red: rgba(255, 15, 15, 1);
  --link-blue: rgba(37, 137, 255, 1);
  --foundationgreenlight: rgba(248, 255, 240, 1);
  --foundationgreenlight-hover: rgba(245, 255, 232, 1);
  --foundationgreenlight-active: rgba(234, 255, 208, 1);
  --foundationgreennormal: rgba(186, 255, 102, 1);
  --foundationgreennormal-hover: rgba(167, 230, 92, 1);
  --foundationgreennormal-active: rgba(149, 204, 82, 1);
  --foundationgreendark: rgba(140, 191, 77, 1);
  --foundationgreendark-hover: rgba(112, 153, 61, 1);
  --foundationgreendark-active: rgba(84, 115, 46, 1);
  --foundationgreendarker: rgba(65, 89, 36, 1);
  --foundation-blackb50: rgba(231, 231, 231, 1);
  --foundation-blackb75: rgba(157, 157, 157, 1);
  --foundation-blackb100: rgba(117, 117, 117, 1);
  --foundation-blackb200: rgba(57, 57, 57, 1);
  --foundation-blackb300: rgba(17, 17, 17, 1);
  --foundation-blackb400: rgba(12, 12, 12, 1);
  --foundation-blackb500: rgba(10, 10, 10, 1);
  --h1-bold-font-family: "Urbanist", Helvetica;
  --h1-bold-font-weight: 700;
  --h1-bold-font-size: 48px;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: normal;
  --h1-bold-font-style: normal;
  --sub-heads-semi-font-family: "Urbanist", Helvetica;
  --sub-heads-semi-font-weight: 600;
  --sub-heads-semi-font-size: 32px;
  --sub-heads-semi-letter-spacing: 0px;
  --sub-heads-semi-line-height: normal;
  --sub-heads-semi-font-style: normal;
  --sub-reg-font-family: "Urbanist", Helvetica;
  --sub-reg-font-weight: 400;
  --sub-reg-font-size: 32px;
  --sub-reg-letter-spacing: 0px;
  --sub-reg-line-height: normal;
  --sub-reg-font-style: normal;
  --body-bold-font-family: "Urbanist", Helvetica;
  --body-bold-font-weight: 600;
  --body-bold-font-size: 24px;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: normal;
  --body-bold-font-style: normal;
  --body-reg-font-family: "Urbanist", Helvetica;
  --body-reg-font-weight: 400;
  --body-reg-font-size: 24px;
  --body-reg-letter-spacing: 0px;
  --body-reg-line-height: normal;
  --body-reg-font-style: normal;
  --20px-med-font-family: "Urbanist", Helvetica;
  --20px-med-font-weight: 500;
  --20px-med-font-size: 20px;
  --20px-med-letter-spacing: 0px;
  --20px-med-line-height: normal;
  --20px-med-font-style: normal;
  --regular-20-font-family: "Urbanist", Helvetica;
  --regular-20-font-weight: 400;
  --regular-20-font-size: 20px;
  --regular-20-letter-spacing: 0px;
  --regular-20-line-height: normal;
  --regular-20-font-style: normal;
  --med-sub-font-family: "Urbanist", Helvetica;
  --med-sub-font-weight: 500;
  --med-sub-font-size: 32px;
  --med-sub-letter-spacing: 0px;
  --med-sub-line-height: normal;
  --med-sub-font-style: normal;
  --med-24-font-family: "Urbanist", Helvetica;
  --med-24-font-weight: 500;
  --med-24-font-size: 24px;
  --med-24-letter-spacing: 0px;
  --med-24-line-height: normal;
  --med-24-font-style: normal;
  --16-label-med-font-family: "Urbanist", Helvetica;
  --16-label-med-font-weight: 500;
  --16-label-med-font-size: 16px;
  --16-label-med-letter-spacing: 0px;
  --16-label-med-line-height: normal;
  --16-label-med-font-style: normal;
  --18-px-reg-font-family: "Urbanist", Helvetica;
  --18-px-reg-font-weight: 400;
  --18-px-reg-font-size: 18px;
  --18-px-reg-letter-spacing: 0px;
  --18-px-reg-line-height: normal;
  --18-px-reg-font-style: normal;
  --collection-1-uncheck: none;
  --collection-1-check: none;
  --collection-1-confirm-button: none;
  --collection-1-bg: rgba(225, 227, 228, 1);
  --super-jio-icon-back: none;
  --super-jio-icon-front: none;
  --super-jio-food: rgba(234, 88, 12, 1);
  --super-jio-success: rgba(48, 185, 77, 1);
  --super-jio-mart-primary: rgba(124, 45, 18, 1);
  --super-jio-offers-invest: rgba(247, 170, 30, 1);
}
